{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 text-center">
    <h1>About Us 🍽</h1>
    <p>Experience the taste of tradition and quality.</p>
</div>

<!-- Section 1 -->
<div class="about-section">
     <div class="about-img">
        <img src="{% static 'images/our story.jpg' %}">
    </div>
    <div class="about-text">
        <h3>Our Story</h3>
        <p>At Krishna's Kitchen, our journey began with a simple dream: to serve delicious, fresh, and authentic food that brings people together. 
        What started as a passion for cooking traditional recipes has grown into a place where families and friends can enjoy memorable meals. 
        Every dish we prepare is made with care, using quality ingredients and recipes inspired by rich culinary traditions. 
        Our goal is not only to serve food but also to create a warm and welcoming dining experience for every guest who visits us.
    </p>
    </div>
   
</div>

<!-- Section 2 -->
<div class="about-section reverse">
    <div class="about-img">
        <img src="{% static 'images/our mission.jpg' %}">
    </div>
    <div class="about-text">
        <h3>Our Mission</h3>
        <p>Our mission is to provide exceptional food and outstanding service while maintaining the highest standards of quality and hygiene.
           We believe that great food starts with fresh ingredients, careful preparation, and a dedication to excellence.
           Krishna's Kitchen is committed to offering a wide variety of flavors that satisfy every taste while ensuring that every meal is prepared with passion and attention to detail.
           We strive to make every visit enjoyable, affordable, and unforgettable. 
        </p>
    </div>
</div>

<!-- Section 3 -->
<div class="about-section">
    <div class="about-img">
        <img src="{% static 'images/why choose us.jpg' %}">
    </div>
    <div class="about-text">
        <h3>Why Choose Us?</h3>
        <p>Krishna's Kitchen is more than just a restaurant—it's a place where taste, quality, and hospitality come together.
           We use fresh ingredients, authentic spices, and proven recipes to deliver food that is both flavorful and satisfying.
           Our friendly staff, clean environment, diverse menu, and commitment to customer satisfaction make us a preferred choice for food lovers.
           Whether you're joining us for a family dinner, a special celebration, or a quick meal with friends, we work hard to ensure that every experience exceeds your expectations. 
        </p>
    </div>
    
</div>

{% endblock %}